.fc-daygrid-day-top>a {
  color: black !important;
}

.fc-event-resizer-end {
  display: none !important;
  cursor: none !important;
}

.fc-day a {
  color: black !important;
}

.disableDay {
  opacity: 0.4;
}